/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Oswald:300,Source+Sans+Pro:200,400,600,400italic,600italic);

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 0.8em;
  text-align: left;
  line-height: 1.6;

}
@media all and (min-width: 400px) {
  body {
    font-size: 0.9em;
  }
}
@media all and (min-width: 700px) {
  body {
    font-size: 1em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 300;
}


p { 
  margin: 1em 0; 
}

a { 
  color: inherit; 
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/


.header {
  background: rgb(242,197,56);
}
.header__title {
  text-align: center;
  
}
.header__link {
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  text-transform: uppercase;
  padding: 1em 0;
  display: block;
  
  text-decoration: none;
  color: white;

}

article p {
  max-width: 50em;
  margin: 0 auto 1em;
}

.lede {
  clear: both;
  padding: 2em 1em;
  max-width: 50em;
  margin: 0 auto;
 
}
.lede__title {
  
  text-transform: uppercase;
  color: white;
  font-family: 'Oswald', sans-serif;

  font-size: 2em;

  
}
@media all and (min-width: 400px) {
  .lede__title {
    font-size: 2.3em;
  }
}
@media all and (min-width: 700px) {
  .lede__title {
    font-size: 2.6em;
  }
}



.footer {
  background: rgb(60,60,60) url(../img/dm-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  min-height: 300px;
}

@media all and (min-width: 400px) {
  .footer {
    min-height: 400px;
  }
}
@media all and (min-width: 700px) {
  .footer {
    min-height: 700px;
  }
}

.contact {
  text-align: center;
}
.contact__link {
  color: rgb(60,60,60);
  padding: 1em;
  text-decoration: none;
  display: inline-block;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
  padding: 2em 1em;
  border-bottom: 1px dotted rgb(240,240,240);
}
.post:last-of-type {
  border-bottom: 0;
}
.post__title {
  text-align: center;
  font-size: 2em;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
}

.post__link {
  color: rgb(60,60,60);
  text-decoration: none;
}
.post__link:hover {
  text-decoration: underline;
}
.post__date {
  text-align: center;
  color: rgb(200,200,200);
  font-weight: 200;
}
.post img {
  max-width: 100%;
  height: auto;
}


