<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- icons -->
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
      <header class="header">
        <h1 class="header__title"><a href="/" class="header__link">{{ site.name }}</a></h1>
        <div class="lede">
          <h2 class="lede__title">I am a frontend web designer at the Western Australian Museum. I work on big Drupal websites, 100,000+ pages. I love RWD, SASS, Grunt and OOCSS</h2>
        </div>
      </header>
      
      {{ content }}
      
      <footer class="footer">
        <p class="contact"> 
          <a href="https://twitter.com/dannymurphy" class="contact__link"><i class="fa fa-twitter fa-2x"></i> @dannymurphy</a>

          <a href="https://github.com/dannymurphy" class="contact__link"><i class="fa fa-github-alt fa-2x"></i> @dannymurphy</a>
        </p>
      </footer>
    </body>
</html>
